$primary-color: #da272c;
.app-task {
    .tarea {
        margin: 0 auto;
        width: 280px;
        border: 2px solid $primary-color;
        position: relative;
        .titulo {
            width: 100%;
            margin: 0;
            padding: 0;
            background: $primary-color;
            color: white;
        }
        .cuerpo {
            padding: 10px 0px 40px 0px;
            .descripcion {
                height: 115px;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                &::after {
                    content: '...';
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                }
            }
        }
        .footer {
            position: absolute;
            background: $primary-color;
            bottom: 0px;
            width: 100%;
            color: white;
            &>div {
                text-align: center;
            }
        }
    }
}