<div class="app-task">

  <div class="tarea">
    <div class="titulo">
      <div class="container">
        <div class="row">
          <div class="col">
            <span>titulo de la tarea</span>
          </div>
        </div>
      </div>
    </div>

    <div class="cuerpo">
      <div class="descripcion">
        <div class="container">
          <div class="row">
            <div class="col">
              <p>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno
                estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
              </p>
            </div>
          </div>
        </div>
        <a href="#">
          <i class="fas fa-chevron-circle-down mas-detalle active"></i>
          <i class="fas fa-chevron-circle-up mas-detalle"></i>
        </a>
      </div>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col">
          <i class="fas fa-camera-retro"></i>
        </div>
        <div class="col">
          2
        </div>
        <div class="col">
          3
        </div>
      </div>
    </div>
  </div>

  <p>adas</p>

  <div id="alertDiv" class="alert alert-info fader">
      When you click the button below I'll fade out *or* fade in using the magic of transitions.
  </div>
  
  <button id="showHideButton" type="button" class="btn btn-primary btn-lg btn-block">Show or Hide</button>

</div>